body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

#navbar {
  transition: all 0.3s ease;
  background: transparent;
  transition: background-color 0.3s ease;
  background-color: transparent;
}
#navbar .navbar-brand img#navbar-logo {
  max-width: 100px;
}
#navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  height: 81px;
}
#navbar.scrolled .nav-link {
  color: black;
}
#navbar #navbar-logo {
  padding: 10px;
}
#navbar .navbar-nav .nav-item {
  margin-right: 20px;
}
#navbar .nav-link {
  color: #ffffff;
  line-height: 1.8em;
  transition: color 0.3s ease;
}
#navbar .nav-link.active {
  color: #ff4b2b !important;
}

#home {
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
#home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#home span {
  position: relative;
}
#home span::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #ff3b30;
  border-radius: 2px;
}
#home h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 5rem;
  margin-top: 90px;
  z-index: 100;
}
@media (min-width: 768px) {
  #home h1 {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  #home h1 {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  #navbar {
    background-color: #fff;
    width: 401px;
  }
  #navbar .navbar-toggler {
    padding: 0.5rem;
    margin: 1px;
    border: none;
  }
  #navbar .nav-link {
    color: #7e7e7e;
  }
  #home {
    height: 383px !important;
    background-attachment: fixed;
    background-size: cover;
  }
  #home h1 {
    line-height: 2rem;
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .fixed-top {
    position: absolute !important;
  }
}
.mouse {
  position: absolute;
  width: 22px;
  height: 42px;
  bottom: 40px;
  left: 50%;
  margin-left: -12px;
  border-radius: 15px;
  border: 1px solid #fff;
  animation: intro 1s;
}

.scroll {
  position: relative;
  width: 3px;
  height: 3px;
  margin: 6px auto;
  border-radius: 4px;
  background: #fff;
  animation: scrollDown 2s infinite;
}

@keyframes scrollDown {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 1;
    top: calc(100% - 6px);
  }
}
.services i {
  font-weight: 700;
}
.services p {
  color: #7e7e7e;
}
.services .design:hover {
  animation: bounce;
  animation-duration: 2s;
}

.about {
  background-color: #1c1c1c;
}
.about img {
  max-width: 90%;
}
.about h2 {
  font-size: 2.5rem;
}
.about p {
  color: #b5b5b5;
  font-size: 1rem;
}
.about a.btn {
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: 500;
}
.about .btn-danger {
  background: linear-gradient(to right, #eb3349, #f45c43);
}

span {
  position: relative;
}
span::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ff3b30;
}

.steps {
  background: rgba(30, 30, 30, 0.5);
  padding: 150px 0;
}
.steps .icon {
  font-weight: 700;
}
.steps .text-danger {
  color: #ff3b30;
}

.cardcontainer {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}
.cardcontainer:hover {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
  border-color: rgba(255, 255, 255, 0.05);
}
.cardcontainer .child {
  left: 0;
  background: linear-gradient(to right, #eb3349, #f45c43);
  top: calc(100% + 2rem);
  transition: all 0.3s ease;
  height: 100%;
}
.cardcontainer p {
  font-size: 17px;
}
.cardcontainer:hover .child {
  top: 0;
}

#portfolio .portfolio-item {
  overflow: hidden;
}
#portfolio .portfolio-item .portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #eb3349, #f45c43);
  opacity: 0;
  transition: opacity 0.6s;
}
#portfolio .portfolio-item img {
  transition: all 0.5s ease;
}
#portfolio .portfolio-item:hover img {
  transform: scale(1.1);
}
#portfolio .portfolio-item:hover .portfolio-overlay {
  opacity: 1;
}/*# sourceMappingURL=styles.css.map */